{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container-md mt-4">
    <div class="row">
        <div class="col col-4">
            <form action="/competitor-monitoring" method="post">
                <div>
                    <div>
                        <input type="text" class="form-control" name="inn" placeholder="INN">
                        <input type="text" class="form-control" name="company" placeholder="Company">
                        <input type="text" class="form-control" name="website" placeholder="Website">
                        <button class="btn btn-success" type="submit" id="">Add Competitor</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-8">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Company</th>
                        <th scope="col">INN</th>
                        <th scope="col">Website</th>
                    </tr>
                </thead>
                <tbody>
                    {% for competitor in competitors %}
                    <tr>
                        <th scope="row">
                            <form action="/profile/delete_competitor/{{competitor.competitor_inn}}" method="post">
                               <button type="submit" class="btn btn-danger delete-btn">-</button>
                            </form>
                        </th>
                        <th scope="row">1</th>
                        <td>{{competitor.competitor_nickname}}</td>
                        <td>{{competitor.competitor_inn}}</td>
                        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{competitor.competitor_website}}</a></td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
            <img class="joke" src="static/images/joke.png">
            <p>Show me who you are!</p>
        </div>
    </div>
</div>
{% endblock %}