{% extends "layout.html" %}

{% block title %} Goods {% endblock %}

{% block body %}
<div class="container-md mt-4">
    <div class="row mb-1">
        <div class="col">
            <form action="/company-goods" method="post">
                <div>
                    <div class="input-group input-group-sm mb-1">
                        <input type="text" class="form-control form-control-sm border-dark " name="item_link"
                               placeholder="Add a new item link">
                        <div class="input-group-append">
                            <button class="btn btn-dark unified-yellow" type="submit" id="follow">Follow
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card bg-dark mb-1 text-white">
                <div class="card-header display-6">
                    <div class="container">
                        <div class="row">
                            <div class="col col-md-6 unified-yellow"><span
                                    class="display-6 d-flex justify-content-start"> Goods List </span>
                            </div>
                            <div class="col col-md-6 d-flex justify-content-end">
                                <input class="form-control form-control-sm w-50 d-flex mt-2 mb-1" type="text" id="filterInput"
                                       onkeyup="filterFunction()"
                                       placeholder="Search here...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="refresh">
        <form action="/company-goods/refresh_all">
            <button type="submit" id="refresh_all" class="btn btn-sm btn-dark mb-1 unified-yellow">
                Refresh now
            </button>
            <span id="loading_icon"></span>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="table table-hover table-text" id="goodsTable">
                        <thead>
                        <tr class="table-active text-center">
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col" class="competitor">Competitor</th>
                            <th scope="col" class="price">Last price</th>
                            <th scope="col" class="price">Prev price</th>
                            <th scope="col" class="price">Price change</th>
                            <th scope="col" class="date">Last date</th>
                            <th scope="col" class="date">Prev date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items %}
                        {% for item in items %}
                        <tr>
                            <td>
                                <form action="/company-goods/delete-item" method="post">
                                    <button type="submit" id="delete_item"><img class="button-pic"
                                                                                src="static/images/delete-button.svg"
                                                                                alt="Delete"/></button>
                                    <input title="item_id" hidden="hidden" value="{{item.item_id}}" name="item_id">
                                </form>
                            </td>
                            <td><a href={{item.link}} target="_blank" class="result">{{item.name}}</a></td>
                            <td class="data">{{item.competitor[0:15]}}</td>
                            <td class="price data" title="{{item.last_date}}">{{item.last_price}}</td>
                            <td class="price data">{{item.prev_price}}</td>
                            <td class="price data" name="price_change">{{item.price_change}}</td>
                            <td class="data" title="{{item.last_date}}">{{item.last_date[0:10]}}</td>
                            <td class="data" title="{{item.prev_date}}">{{item.prev_date[0:10]}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let website_btn = document.getElementById("refresh_all")
    if (website_btn) {
        website_btn.addEventListener("click", showLoader);
    }

    function showLoader() {
        let image_html = "<img class='text-center' style='width: 50px; display: block; margin-left: auto; margin-right: auto;' src='/static/images/loading.gif'>"
        $("#loading_icon").html(image_html);
        website_btn.innerHTML = "Please wait..."
        console.log("in")
    }

    function changeColor() {
        let operations = document.getElementsByName("price_change")
        for (let operation of operations) {
            let operation_value = operation.innerText.toString().toLowerCase()
            if (operation_value.includes("-") ) {
                operation.style.color = "#cd1e1e"
                operation.style.fontWeight = "700"
            }
            else if (operation_value.localeCompare("0.0")) {
                operation.style.color = "#198654";
                operation.style.fontWeight = "700";
            }
        }
    }
    function formatPrice() {
        let operations = document.getElementsByClassName("price")
        for (let operation of operations) {
            let operation_value = operation.innerText.toString();
            operation_value = operation_value.slice(0, -2);
            if (!isNaN(operation_value)){
                let [_, num, suffix] = operation_value.match(/^(.*?)((?:[,.]\d+)?|)$/);
                operation.innerText = `${num.replace(/\B(?=(?:\d{3})*$)/g, ' ')}${suffix}`
            }
        }
    }
    changeColor()
    formatPrice()
    function filterFunction() {
        // Объявить переменные
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("goodsTable");
        tr = table.getElementsByTagName("tr");

        // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
        // Поиск по столбцу с индексом ("td")[1]
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}