{% extends "layout.html" %}

{% block title %} Homepage {% endblock %}

{% block body %}
<div class="container-md mt-4">
    <div class="row">
        <div class="welcome-card">
            <div class="card">
                <img src="/static/images/homepage_welcome.jpg" class="card-img" style="height: 250px;" alt="...">
                <div class="card-img-overlay d-flex justify-content-center">
                    <div class="card bg-dark text-white p-2 mt-5 bg-opacity-75"
                         style="width: fit-content; height: fit-content;">
                        <h1 class="card-title text-center welcome-title" style="font-size: min(4vw, 70px)">Welcome</h1>
                        <h2 class="card-title text-center company_name">
                            {% if company_info.organization %}
                            {{company_info.organization}}
                            {% else %}
                            {{user.company_name}}
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-dark mb-2 w-100 align-middle">
                <div class="card-header" id="website">
                    <span class="text-hover" style="color: #ed9553;">Website:</span>
                        <a class=" link text-hover" href={{website.link}} target="_blank"> {{website.link}}</a>

                        {% if website.status == "disconnected" %}

                        <button type="button" id="interact_btn"><img class="button-pic"
                                                                     src="/static/images/black_pensil.png"
                                                                     alt="Change"/></button>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col col-4-md">
            <div class="card text-white bg-dark mb-3 h-100" >
                <div class="card-header text-hover display-6 header-card" style="color: #ed9553;">Sphere:</div>
                <div class="card-body text-hover">
                    <p class="card-text">{{ company_info.sphere }}</p>
                </div>
            </div>
        </div>
        <div class="col col-4-md">
            <div class="card text-white bg-dark mb-3 h-100" >
                <div class="card-header text-hover display-6" style="color: #ed9553;">Info:</div>
                <div class="card-body">
                    <b>Email:</b>
                    <div class="card-text text-hover">{{ user.email }}</div>
                    <b>INN: </b>
                    <div class="card-text text-hover">{{ user.company_inn }}</div>
                    <b>OGRN: </b>
                    <div class="card-text text-hover">{{ company_info.ogrn }}</div>
                    <b>Workers number:</b>
                    <div class="card-text text-hover">{{ company_info.workers_number }}</div>
                </div>
            </div>
        </div>
        <div class="col col-4-md">
            <div class="card text-white bg-dark mb-3 h-100">
                <div class="card-header text-hover display-6" style="color: #ed9553;">Registration:</div>
                <div class="card-body">
                    <b>CEO:</b>
                    <div class="card-text text-hover">{{ company_info.ceo }}</div>
                    <b>Registration date: </b>
                    <div class="card-text text-hover">{{ company_info.registration_date }}</div>
                    <b>Address:</b>
                    <div class="card-text text-hover">{{ company_info.address }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/homepage.js" crossorigin="anonymous"></script>
{% endblock %}