{% extends "layout.html" %}

{% block title %}Costing: Homepage{% endblock %}

{% block body %}
<div class="container-md">
        <div class="row">
                <div class="col col-5">
                        <h3 id="welcome">Welcome,
                                {% if company_info.organization %}
                                {{company_info.organization}}!
                                {% else %}
                                {{user.company_name}}!
                                {% endif %}
                        </h3>
                        <b>Email:</b>
                        <div>{{ user.email }}</div>
                        <b>INN: </b>
                        <div>{{ user.company_inn }}</div>
                        <b>OGRN: </b>
                        <div>{{ company_info.ogrn }}</div>
                        <b>Registration date: </b>
                        <div>{{ company_info.registration_date }}</div>
                        <b>Sphere:</b>
                        <div>{{ company_info.sphere }}</div>
                        <b>Address:</b>
                        <div>{{ company_info.address }}</div>
                        <b>Workers number:</b>
                        <div>{{ company_info.workers_number }}</div>
                        <b>CEO:</b>
                        <div>{{ company_info.CEO }}</div>

                </div>
                <div class="col col-7">
                        <img class="joke" src="static/images/joke.png">
                        <p></p>
                        <button class="btn btn-success">Add your goods</button>
                        <button class="btn btn-success">Add competitors</button>
                </div>
        </div>
</div>

{% endblock %}
