{% extends "layout.html" %}

{% block title %} Homepage {% endblock %}

{% block body %}
<div class="container-md mt-4">
    <div class="row">
        <div class="col col-5">
            <div class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-white bg-success">
                    <h5>
                        Welcome,
                        {% if company_info.organization %}
                        {{company_info.organization}}!
                        {% else %}
                        {{user.company_name}}!
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body bg-light">
                    <b>Email:</b>
                    <div class="card-text">{{ user.email }}</div>
                    <b>INN: </b>
                    <div class="card-text">{{ user.company_inn }}</div>
                    <b>OGRN: </b>
                    <div class="card-text">{{ company_info.ogrn }}</div>
                    <b>Registration date: </b>
                    <div class="card-text">{{ company_info.registration_date }}</div>
                    <b>Sphere:</b>
                    <div class="card-text">{{ company_info.sphere }}</div>
                    <b>Address:</b>
                    <div class="card-text">{{ company_info.address }}</div>
                    <b>Workers number:</b>
                    <div class="card-text">{{ company_info.workers_number }}</div>
                    <b>CEO:</b>
                    <div class="card-text">{{ company_info.ceo }}</div>
                    <b>Website:</b>
                    <div class="card-text" id="website">
                        <a class="link" href={{website.link}} target="_blank">{{website.link}}</a>
                        <button type="button" id="interact_btn"><img class="button-pic"
                                                                     src="/static/images/black_pensil.png"
                                                                     alt="Change"/></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-7">
            <img class="joke" src="https://i.gifer.com/YkVF.gif">
            <p></p>
            <form action="/test">
                <button class="btn btn-success">test</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/homepage.js" crossorigin="anonymous"></script>
{% endblock %}