{% extends "layout.html" %}

{% block title %} Price Looker {% endblock %}

{% block body %}
<form action="/price-looker" method="post" id="form-peek">
    <div class="container-md mt-4">
        <div class="row">
            <aside class="col-lg-4" style="padding-top: 3%">
                <div class="card">
                    <article class="card-group-item">
                        <header class="card-header  text-white bg-secondary">
                            <h6 class="title">Prices range</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input type="number" class="form-control" name="min_price" placeholder="$0">
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label>Max</label>
                                        <input type="number" class="form-control" name="max_price"
                                               placeholder="$1,0000">
                                    </div>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                    <article class="card-group-item">
                        <header class="card-header text-white bg-secondary">
                            <h6 class="title">Select the competitors </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                {% for competitor in competitors %}
                                <div class="form-check form-switch ">
                                    <input class="form-check-input" type="checkbox" name="chosen_competitor"
                                           value="{{competitor.competitor_inn}}" id="{{competitor.competitor_inn}}"
                                           checked>
                                    <label class="form-check-label" for="{{competitor.competitor_inn}}">{{competitor.competitor_nickname}}</label>
                                </div>
                                {% endfor %}
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->
            </aside>
            <div class="col-lg-8">
                <div class="input-group mb-3 mx-auto" style="padding-top: 5%">
                    <input type="text" class="form-control" placeholder="Items to peek into" name="item" id="item_info"
                           autofocus
                           style="border-color: #b8daff">
                    <button class="btn btn-outline-primary" type="submit" id="peek">PEEK</button>
                </div>
                <div id="last-search"></div>
                <div class="header mx-auto w-75">
                    <h4 class="mx-auto" style="text-align: center">Items</h4>
                </div>
                <div id="peek_results">
                    <div>
    <table class="table mx-auto">
        <thead>
        <tr class="table-secondary">
            <th>Name</th>
            <th>Price</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td style="max-width: 100%"><a href={{item.url}} target="_blank">{{item.url[8:25]}}...</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/price_looker.js" crossorigin="anonymous"></script>
</form>

{% endblock %}