{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container-md mt-4">
    <div class="row ">
        <div class="col col-md-6 d-flex flex-column flex-md ">
            <div class="card text-white bg-dark flex-fill m-1 justify-content-center ps-3">
                <div class="display-6 header-card">
                    <h5 class="display-6">
                        {{company_info.organization}}
                        <span id="user_inn" hidden="hidden">{{company_info._inn}}</span>
                    </h5>
                </div>
            </div>
            <div class="card text-white bg-dark flex-fill align-self-stretch justify-content-center m-1">
                <div class="card-header header-card">
                    <div class="card-text">
                        <b>Website: </b>
                        <span id="website">
                            <a class="link" href={{website.link}} target="_blank">{{website.link}}</a>
                            {% if website.status == "disconnected" %}
                            <button type="button" id="interact_btn" name="interact_btn"><img class="button-pic"
                                                                                             src="/static/images/black_pensil.png"
                                                                                             alt="Change"/></button>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-text mt-3">
                        <div>
                            <b>Status: </b>
                            {% if competitor %}
                            {% if competitor.connection_status == "requested" %}
                            <form action="/profile/delete_competitor/{{company_info._inn}}" method="POST">
                                <button class="btn btn-warning btn-sm" type="submit" id="btn_req_user_site"
                                        title="Click to cancel!">Requested
                                </button>
                            </form>
                            {% elif competitor.connection_status == "connected" %}
                            <button class="btn btn-dark border-light btn-sm" type="submit"
                                    title="Not Auto loading associations and loading items from the list is available">
                                Connected
                            </button>
                            {% else %}
                            <form action="/request_connection/{{company_info._inn}}" method="POST">
                                <button class="btn btn-danger btn-sm" type="submit" id="btn_req_user_site"
                                        title="Connect your website to upload your items automatically">Request
                                    connection
                                </button>
                            </form>
                            {% endif %}
                            {% else %}
                            <form action="/request_connection/{{company_info._inn}}" method="POST">
                                <button class="btn btn-success btn-sm" type="submit" id="btn_req_user_site"
                                        title="Connect your website to upload your items automatically">Request
                                    connection
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="company-description  d-flex flex-wrap align-items-stretch justify-content-between">
                <div class="card text-white bg-dark d-inline-block flex-fill m-1 text-center">
                    <div class="card-header display-6 header-card text-hover">
                        <h5 class="display-6 profile-card-title">Items</h5>
                    </div>
                    <div class="card-text card-font">{{items|length}}</div>
                </div>
                <div class="card text-white bg-dark  d-inline-block flex-fill m-1 text-center">
                    <div class="card-header display-6 header-card text-hover">
                        <h5 class="display-6 profile-card-title">Competitors</h5>
                    </div>
                    <div class="card-text card-font">{{competitors|length}}</div>
                </div>
                <div class="card text-white bg-dark  d-inline-block flex-fill m-1 text-center">
                    <div class="card-header display-6 header-card text-hover">
                        <h5 class="display-6 profile-card-title">Connections</h5>
                    </div>
                    <div class="card-text card-font">52</div>
                </div>
                <div class="card text-white bg-dark d-inline-block flex-fill m-1 text-center">
                    <div class="card-header display-6 header-card text-hover ">
                        <h5 class="display-6 profile-card-title">Not Connected:</h5>
                    </div>
                    <div class="card-text card-font">36</div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                {% if user_con and user_con.connection_status == "connected" %}
                <form class="d-inline-block m-1" action="/autoload_associations" method="post">
                    <div>
                        <button class="btn btn-dark border-light" type="submit" name="autoload">Autoload Associations
                        </button>
                    </div>
                </form>
                <form class=" d-inline-block m-1" action="/profile" method="post">
                    <div>
                        <button class="btn btn-dark border-light" type="submit" name="load_link" disabled>Load Items
                        </button>
                    </div>
                </form>
                {% else %}
                <form class="d-inline-block flex-fill m-1" action="/profile" method="post">
                    <div>
                        <button class="btn btn-dark border-light btn-sm" type="submit" name="autoload" disabled>Autoload
                            Associations
                        </button>
                    </div>
                </form>
                <form class="d-inline-block flex-fill m-1" action="/profile" method="post">
                    <div>
                        <button class="btn btn-dark border-light btn-sm" type="submit" name="load_link" disabled>Load
                            Items
                        </button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6 d-flex flex-column flex-md">
            <div class="company-description  d-flex flex-wrap align-items-stretch justify-content-between">
                <div class="card text-white bg-dark d-inline-block flex-fill m-1 text-center">
                    <div class="card text-white bg-dark m-1 text-center flex-fill ps-3 pe-3">
                        <div class="card-header display-6 header-card text-hover " style="color: #ed9553;">
                            <h5 class="display-6 profile-card-title">Manual</h5>
                        </div>
                        <form action="/profile" method="post">
                            <div>
                                <div>
                                    <input type="text" class="form-control form-control-sm mb-1" name="item_name"
                                           placeholder="Item"
                                           required>
                                    <input type="text" class="form-control form-control-sm mb-1" name="item_price"
                                           placeholder="Price"
                                           required>
                                    <input type="text" class="form-control form-control-sm mb-1" name="item_link"
                                           placeholder="Link(optional)">
                                    <button class="btn btn-dark border-light mt-2 btn-sm" type="submit"
                                            name="add_item_manual">Add Item
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6 d-flex flex-column flex-md ">
            <div class="card text-white bg-dark flex-fill align-self-stretch justify-content-center text-center m-1 ps-3 pe-3">
                <div class="card-header display-6 header-card text-hover">
                    <h5 class="display-6 profile-card-title">Web Loading</h5>
                </div>
                {% if user_con and user_con.connection_status == "connected" %}
                <form class="mb-1 " action="/profile/load_item" method="post">
                    <div>
                        <div>
                            <input type="text" class="form-control form-control-sm pb-2" name="item_link"
                                   placeholder="Item link from your web"
                                   required>
                            <button class="btn btn-dark border-light mt-2 btn-sm" type="submit">Load Item</button>
                        </div>
                    </div>
                </form>
                {% else %}
                <form class="mb-1" action="/profile/load_item" method="post">
                    <div>
                        <div>
                            <input type="text" class="form-control" name="item_link"
                                   placeholder="Item link from your web"
                                   required>
                            <button class="btn btn-dark border-light" type="submit" disabled>Load Item</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card bg-light mb-2 text-black">
                <div class="card-header display-6">
                    <div class="container">
                        <div class="row">
                            <div class="col col-4"><span
                                    class="display-6 d-flex justify-content-start"> Relations: </span>
                            </div>
                            <div class="col col-8 d-flex justify-content-end">
                                <input class="form-control w-50 d-flex mt-2 mb-2" type="text" id="filterInput"
                                       onkeyup="filterFunction()"
                                       placeholder="search...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="table table-hover table-bordered" id="goodsTable">
                        <thead class="table-light fixed-head">
                        <tr class="table-active">
                            <th scope="col">№</th>
                            <th scope="col" >My Item</th>
                            {% if competitors %}
                            {% for competitor in competitors %}
                            <th scope="col">{{competitor.competitor_nickname}}</th>
                            {% endfor %}
                            {% endif %}
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items_info %}
                        {% for item in items_info %}
                        <tr class="table-text">
                            <td>{{loop.index}}</td>
                            <td><a class="result" href="{{item[2]}}" target="_blank">{{item[1]}}</a></td>
                            {% if competitors %}
                            {% for competitor in competitors %}
                            {% set comp_inn = competitor.competitor_inn %}
                            <td>
                        <span>
                            <input type="hidden" class="element_id"
                                   value="{{items_info[item][0]}}_{{competitor.competitor_inn}}"
                                   id="{{items_info[item][0]}}_{{competitor.competitor_inn}}">
                            {% if items_info[item][comp_inn] %}
                            <a class="result" href={{items_info[item][comp_inn]["url"]}} target="_blank">{{items_info[item][comp_inn]["name"]}}</a>
                            {% else %}
                            <a class="result" href="" target="_blank">...</a>
                            {% endif %}
                            <button type="button" name="interact_btn" class="item_link"><img class="button-pic"
                                                                                             src="/static/images/black_pensil.png"
                                                                                             alt="Change"/></button>
                        </span>
                                {% endfor %}
                            <td>
                                <form action="/company-goods/delete-item" method="post">
                                    <button type="submit" id="delete_item" name="interact_btn"><img class="button-pic"
                                                                                                    src="static/images/delete-button.svg"
                                                                                                    alt="Delete"/>
                                    </button>
                                    <input title="item_id" hidden="hidden" value="{{item.item_id}}" name="item_id">
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/profile.js" crossorigin="anonymous"></script>
    {% endblock %}