{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container-md mt-4">
    <div class="row mb-3">
        <div class="company-description">
            <div class="card border-light mb-3">
                <div class="card-header text-white bg-success">
                    <h5>
                        {{company_info.organization}}<span id="user_inn" hidden="hidden">{{company_info._inn}}</span>
                    </h5>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text"><b>Items: </b> 6</div>
                    <div class="card-text"><b>Competitors: </b> 3</div>
                    <div class="card-text">
                        <b>Website: </b>
                        <span id="website">
                            <a class="link" href={{website.link}} target="_blank">{{website.link}}</a>
                            {% if website.status == "disconnected" %}
                            <button type="button" id="interact_btn" name="interact_btn"><img class="button-pic"
                                                                         src="/static/images/black_pensil.png"
                                                                         alt="Change"/></button>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-text mt-3">

                        <div>
                            <b>Status: </b>
                            {% if competitor %}
                            {% if competitor.connection_status == "requested" %}
                            <form action="/profile/delete_competitor/{{company_info._inn}}" method="POST">
                                <button class="btn btn-warning" type="submit" id="btn_req_user_site"
                                        title="Click to cancel!">Requested
                                </button>
                            </form>
                            {% elif competitor.connection_status == "connected" %}
                            <button class="btn btn-primary" type="submit">Connected</button>
                            {% else %}
                            <form action="/request_connection/{{company_info._inn}}" method="POST">
                                <button class="btn btn-success" type="submit" id="btn_req_user_site"
                                        title="Connect your website to upload your items automatically">Request
                                    connection
                                </button>
                            </form>
                            {% endif %}
                            {% else %}
                            <form action="/request_connection/{{company_info._inn}}" method="POST">
                                <button class="btn btn-success" type="submit" id="btn_req_user_site"
                                        title="Connect your website to upload your items automatically">Request
                                    connection
                                </button>
                            </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            {% if user_con and user_con.connection_status == "connected" %}
            <form class="mb-1" action="/profile" method="post">
                <div>
                    <button class="btn btn-success w-100" type="submit" name="autoload" disabled>Autoload Associations
                    </button>
                </div>
            </form>
            <form class="mb-1" action="/profile" method="post">
                <div>
                    <button class="btn btn-success w-100" type="submit" name="load_link" disabled>Load Items</button>
                </div>
            </form>
            <form class="mb-1" action="/profile/load_item" method="post">
                <div>
                    <div>
                        <input type="text" class="form-control" name="item_link" placeholder="Item link from your web"
                               required>
                        <button class="btn btn-success" type="submit">Load Item</button>
                    </div>
                </div>
            </form>
            {% else %}
            <form class="mb-1" action="/profile" method="post">
                <div>
                    <button class="btn btn-success w-100" type="submit" name="autoload" disabled>Autoload Associations
                    </button>
                </div>
            </form>
            <form class="mb-1" action="/profile" method="post">
                <div>
                    <button class="btn btn-success w-100" type="submit" name="load_link" disabled>Load Items</button>
                </div>
            </form>
            <form class="mb-1" action="/profile/load_item" method="post">
                <div>
                    <div>
                        <input type="text" class="form-control" name="item_link" placeholder="Item link from your web"
                               required>
                        <button class="btn btn-success" type="submit" disabled>Load Item</button>
                    </div>
                </div>
            </form>
            {% endif %}
            <br>
        </div>
        <div class="col col-7">
            <form action="/profile" method="post">
                <div>
                    <div>
                        <input type="text" class="form-control mb-1" name="item_name" placeholder="Item" required>
                        <input type="text" class="form-control mb-1" name="item_price" placeholder="Price" required>
                        <input type="text" class="form-control mb-1" name="item_link" placeholder="Link(optional)">
                        <button class="btn btn-success" type="submit" name="add_item_manual">Add Item</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <input class="form-control w-25 mb-2" type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Goods search..">
    <table class="table table-hover" id="goodsTable">
        <thead>
        <tr class="table-active">
            <th scope="col">№</th>
            <th scope="col">My Item</th>
            {% if competitors %}
            {% for competitor in competitors %}
            <th scope="col">{{competitor.competitor_nickname}}</th>
            {% endfor %}
            {% endif %}
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
        {% for item in items %}
            {% set item_link = item["link"] %}
        <tr>
                <td>{{loop.index}}</td>
                <td><a class="result" href="{{item_link}}" target="_blank">{{item["name"]}}</a></td>
                {% if competitors %}
                    {% for competitor in competitors %}
                    {% set comp_inn = competitor.competitor_inn %}
                    <td>
                        <span>
                            <input type="hidden" class="element_id" value="{{item.item_id}}_{{competitor.competitor_inn}}" id="{{item.item_id}}_{{competitor.competitor_inn}}">
                            {% if info[item_link][comp_inn] %}
                            <a class="result" href={{info[item_link][comp_inn]}} target="_blank">{{info[item_link][comp_inn][8:20]}}...</a>
                            {% else %}
                            <a class="result" href="" target="_blank">...</a>
                            {% endif %}
                            <button type="button" name="interact_btn" class="item_link"><img class="button-pic"
                                                                         src="/static/images/black_pensil.png"
                                                                         alt="Change"/></button>
                        </span>
                    {% endfor %}
                <td>
                    <form action="/company-goods/delete-item" method="post">
                        <button type="submit" id="delete_item" name="interact_btn"><img class="button-pic"
                                                                    src="static/images/delete-button.svg"
                                                                    alt="Delete"/></button>
                        <input title="item_id" hidden="hidden" value="{{item.item_id}}" name="item_id">
                    </form>
                </td>
                {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/profile.js" crossorigin="anonymous"></script>
{% endblock %}