#error, #company_inn_status, #login_status {
    position: relative;
    font-size: small;
    color: red;
    font-weight: 600;
    text-align: center;
}
.navbar-nav {
    font-size: small;
}
#login_pic {
    width: 100%;
    max-width: 450px;
    border-radius: 60%;
}
#login_pic:hover {
    box-shadow: 0 0 2px 3px #399;
}
.pw-strength {
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 7px;
    margin-bottom: 20px;
    text-align: center;
    background: #f2f2f2;
    display: none;
}
.pw-strength span:nth-child(1) {
    position: relative;
    font-size: small;
    color: red;
    z-index: 1;
    font-weight: 600;
}

.pw-strength span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border_radius: 5px;
    z-index: 2;
    transition: all 300ms ease-in-out;
}
