#error, #company_inn_status, #login_status {
    position: relative;
    font-size: small;
    color: red;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3px;
}

.navbar-nav {
    font-size: small;
}

#login_pic {
    width: 100%;
    max-width: 450px;
    border-radius: 60%;
}

#login_pic:hover {
    box-shadow: 0 0 2px 3px #399;
}

.pw-strength {
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 7px;
    margin-bottom: 20px;
    text-align: center;
    background: #f2f2f2;
    display: none;
}

.pw-strength span:nth-child(1) {
    position: relative;
    font-size: small;
    color: red;
    z-index: 1;
    font-weight: 600;
}

.pw-strength span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    transition: all 300ms ease-in-out;
}

#welcome {
    margin-top: 2%;
    color: #096;
    text-align: center;
}

.joke {
    margin-top: 10%;
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

#delete_btn {
    border: none;
    background: transparent;
}
#delete_btn:hover {
    background: #e5e5e5;
    border: 2px black;
    border-radius: 5px;
}

.button-pic {
    position: relative;
    padding-top: 2px;
    height: 17px;
    margin-top: -5px;
}
td {
    vertical-align: middle
}