#error, #company_inn_status, #login_status {
    position: relative;
    font-size: small;
    color: red;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3px;
}

.navbar-nav {
    font-size: small;
}

#login_pic {
    width: 100%;
    max-width: 450px;
    border-radius: 60%;
}

#login_pic:hover {
    box-shadow: 0 0 2px 3px #399;
}

.pw-strength {
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 7px;
    margin-bottom: 20px;
    text-align: center;
    background: #f2f2f2;
    display: none;
}

.pw-strength span:nth-child(1) {
    position: relative;
    font-size: small;
    color: red;
    z-index: 1;
    font-weight: 600;
}

.pw-strength span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    transition: all 300ms ease-in-out;
}

#welcome {
    margin-top: 2%;
    color: #096;
    text-align: center;
}

.joke {
    margin-top: 10%;
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

button[name="interact_btn"], #delete_item {
    border: none;
    background: transparent;
}

button[name="interact_btn"]:hover {
    background: #e5e5e5;
    border: 2px black;
    border-radius: 5px;
}

.button-pic {
    position: relative;
    padding-top: 2px;
    height: 17px;
    margin-top: -5px;
    color: white;
}

.req_status {
    text-align: center;
    vertical-align: middle;
}

.competitors_choice {
    display: block;
    border: 3px #b8daff;
    padding-top: 5%;
}

.filter_header {
    background: #e2e3e5;
}

.refresh {
    text-align: center;
    margin-bottom: 6px;
}

a.result:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a.result:visited {
    color: #000000;
    text-decoration: none;
}

/* mouse over link */
a.result:hover {
    color: #6b747c;
    text-decoration: none;
}

/* selected link */
a.result :active {
    color: blue;
    text-decoration: none;
}

th.price {
    min-width: 100px;
}

th.competitor {
    min-width: 180px;
}

.btn_link_items {
    border: 2px black;
    border-radius: 5px;
}

.btn_link_items:hover {
    background: #e5e5e5;
}

.btn-btn_link_items:focus {
    background: #6b747c;
}
.welcome-title {
    font-size: min(4vw, 70px);

}
.welcome-title:hover {
    color: #f7c883;
}

.company_name {
    font-size: font-size: min(4vw, 70px);
}

.company_name:hover {
    color: #f7c883;
}
.text-hover:hover {
   color: #f7c883;
}

.welcome-card {
    width: 50%;
}

.link {
    text-decoration: none;
    color: white;
}
div.header-card {
    color: #ed9553;
}
h5.profile-card-title {
    font-size: 20px;
}